
.gradient-text {
    background: linear-gradient(-45deg, #F300FA, #E48726);
    background-size: 200% 200%;
    animation: gradient-bg 2s ease infinite;
    background-clip: text;
}

.gradient-text:hover {
    animation: gradient-bg 0.5s ease infinite;
	background-clip: unset;
	color: white;
}

.gradient-bg {
    background: linear-gradient(-45deg, #F300FA, #E48726);
    background-size: 200% 200%;
    animation: gradient-bg 2s ease infinite;
}

.triangle-down {
	width: 0;
	height: 0;
	border: 1px solid #25347D;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #010518; /* You can adjust this color as per your requirement */
  }

@keyframes gradient-bg {
	0% {
		background-position: 0% 25%;
	}
	50% {
		background-position: 50% 25%;
	}
	100% {
		background-position: 0% 25%;
	}
}